<div 
  class="card"
  [class.expensive]="item.price > 1000"
  [appHighlight]="'#f9f6f1'"
>

  <!-- 🔥 Status через pipe -->
  <span 
    class="badge"
    [style.backgroundColor]="item.status | statusColor">
    {{ item.status }}
  </span>

  <!-- 🔹 Discount -->
  @if (item.isDiscount) {
    <span class="discount">🔥 Sale</span>
  }

  <img [src]="item.imageUrl" alt="{{ item.title }}" />

  <h3>{{ item.title }}</h3>

  <!-- 🔥 truncate -->
  <p>{{ item.description | truncate:60 }}</p>

  <p><strong>Price:</strong> {{ item.price | currency }}</p>
  <p><strong>Release:</strong> {{ item.releaseDate | date:'dd.MM.yyyy' }}</p>
  <p><strong>Category:</strong> {{ item.category }}</p>

  <p><strong>Tags:</strong> {{ item.tags.join(', ') }}</p>
  <p><strong>Colors:</strong> {{ item.colors.join(', ') }}</p>

  <!-- 🔹 Safe Navigation -->
  <p>
    <strong>Specs:</strong>
    RAM {{ item.specs?.ram }}GB,
    Storage {{ item.specs?.storage }}GB,
    Color {{ item.specs?.color }}
  </p>

  <!-- 🔹 Button -->
  @if (item.quantity > 0) {
    <button (click)="onBtnClick()">Add to cart</button>
  } @else {
    <button disabled>Out of stock</button>
  }

</div>